{% comment %}
{% if product %}
<li class="pin">
  <div class="product-wrap">
    <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}"></a>
  </div>

  <div class="meta">
    <h4>{{ product.title }}</h4>
    <span class="price">
      {{ product.price | money }}

      {% if product.compare_at_price_max > product.price %}
        <span class="old-price">{{ product.compare_at_price_max | money }}</span>
      {% endif %}
    </span>
    <a href="{{product.url}}" data-show-modal="{{product.handle}}" class="icon-eye"></a>
  </div>
</li>
{% endif %}
{% endcomment %}


{% if product %}

<li class="pin content-margin-large">
  <div class="image">
    <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    {% if product.images[1] != nil %}
    <div class="image-hover" style="background-image:url('{{ product.images[1] | product_img_url: 'large' }}');"></div>
    {% endif %}
    <div class="shop-now"><span>Shop</span></div>
    </a>
  </div>

  <div class="info">
    <strong>{{ product.title }}</strong>
    <span class="price">
      {{ product.price | money }}

      {% if product.compare_at_price_max > product.price %}
        <span class="old">{{ product.compare_at_price_max | money }}</span>
      {% endif %}
    </span>

  </div>
</li>

{% endif %}
